@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background-image: url('../../icons/senacLA.jpg');
    background-repeat: no-repeat;
    height: 1000px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.navbar button {
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    height: 4rem;
    width: 80%;
    font-size: 22px;
    padding-top: 15px 0;
    cursor: pointer;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1.5px solid rgb(0, 0, 0);


}

.navbar button img {
    margin-right: 10px;
    width: 50px;
}

.navbar button:hover {
    color: rgb(255, 255, 255);
    width: 225px;
    transition: 0.5s;



}